*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* body{
    background-color: bisque;
} */
 /* @media only screen and (max-width:800px)  {
    nav{
        display: flex;
        justify-content: center;
        color: white;
        height: 90px;
        flex-direction: column;
        align-items: center;
    }  
 } */


.container{
    width: 70%;
    margin: 0 auto;
    font-family: "Ubuntu", serif;
    color: white;

}
header{
    background-color: rgb(26, 26, 26);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 70px;
}
nav .logo h2{
    margin: 10px;
    font-size: 25px;
}
nav .logo span{
    color: rgb(180, 30, 105);
}
nav .bar a{
    color: white;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    font-size: large;

}
.line{
    border: 2px solid grey;

}

.one h1{
    color: white;
    text-transform: capitalize;
    font-size: 50px;
    margin-top: 35px
}
.container .two span{
    display: inline-block;
    align-items: center;
    margin: 20px 15px 50px;
}

.container .two span:first-child{
    margin-left: 0;
}
.container .fa-circle{
    font-size: 25px;
}
.containertwo{
    color: black;
}
main .twoagain span{
    color: black;
    display: inline-block;
    margin: 50px 15px 20px;
}
main .twoagain span:first-child{
    margin-left: 0;
}
.containertwo .imgone img{
    width: 68vw;
}
.containertwo h1{
    text-transform: capitalize;
    font-size: 38px;
    margin: 20px 0;
}
.containertwo .para{
    line-height: 23px;
}
.containertwo .para:last-child{
    margin-bottom: 50px;
}
footer{
    background-color: rgb(25, 24, 24);

}
.containerthree{
    display: flex;
    justify-content: space-between;
}
.containerthree h2{
    text-transform: capitalize;
}
.containerthree a .fa-brands{
    color: white;

}
.about ,.follow{
    margin: 50px 0;
}
.about p{
    max-width: 350px;
    margin: 15px 0;
}
.follow a{
    display: inline-block;
    margin: 20px 10px;
    font-size: 25px;
}
.follow :nth-child(2){
    margin-left: 0;
} 
.last h2 {
    width: 70%;
    margin: 0px auto;
    color: white;
    padding: 20px 0;
    text-transform: capitalize;
    text-align: center;
}